<template name="_addNewProject">
  <div class="flex-white admin-container scrollspy" id="add-project">
    <div class="red-break-half"></div>
    <div class="container">
      <h2 class="center-align">Potential Projects</h2>
      <form>
        <div class="row">
          <div class="input-field col s12 m4">
            <label for="zpid-project">Zillow ID</label>
            <input type="text" id="zpid-project" class="validate">
          </div>
          <div class="input-field col s12 m4">
            <label for="address">Address (optional)</label>
            <input type="text" id="address">
          </div>
          <div class="input-field col s12 m4">
            <label for=""></label>
            <input type="text">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m3">
            <label for="debt-needed">Debt Needed</label>
            <input type="text" id="debt-needed" class="validate">
          </div>
          <div class="input-field col s6 m3">
            <label for="equity-needed">Equity Needed</label>
            <input type="text" id="equity-needed" class="validate">
          </div>
          <div class="input-field col s6 m3">
            <label for="debt-roi">Debt ROI</label>
            <input type="text" id="debt-roi" class="validate">
          </div>
          <div class="input-field col s6 m3">
            <label for="equity-roi">Equity ROI</label>
            <input type="text" id="equity-roi" class="validate">
          </div>
        </div>
        <button class="btn waves-effect waves-light">Submit</button>
      </form>
    </div>
    <div class="red-break-half"></div>
    <div class="container">
      {{> _managePotentialProjects}}
    </div>
  </div>
</template>





<template name="_managePotentialProjects">
  <h2 class="center-align scrollspy" id="manage-projects" style="padding-bottom:1rem;">Manage Potential Projects</h2>
  <table class="hoverable centered">
    <thead>
      <tr>
        <th class="table-header">Property</th>
        <th class="table-header" colspan=2>To Be Raised</th>
        <th class="table-header" colspan=2>Expected ROI</th>
      </tr>
      <tr>
        <th class="table-subheader"></th>
        <th class="table-subheader">Debt</th>
        <th class="table-subheader">Equity</th>
        <th class="table-subheader">Debt</th>
        <th class="table-subheader">Equity</th>
      </tr>
    </thead>
    <tbody class="new-projects-body">
      {{#each allPending}}
      <tr>
        <td><a href="{{pathFor 'adminProperty'}}" style="color:#D1122B;">{{street}}</a></td>
        <td>${{needed.debt}}</td>
        <td>${{needed.equity}}</td>
        <td>{{needed.debtROI}}%</td>
        <td>{{needed.equityROI}}%</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>
