.calculator-container {
	height: 10em;
	transition: height 1s;
	text-align: center;
}

#calculator-title {
	text-align: center;
}

.calculator-cell {
  position: relative;
  border: 1px solid $grey;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  height: 10rem;
  width: 15rem;
  margin: 1em auto;
  transition: all 2s ease-in-out;
  opacity: 0.75;

  input {
  	text-align: center;
    width: 40%;
  }
}