@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
$font-stack: 'Open Sans', sans-serif;

$red: #D1122B;
$grey: #797979;

@import "d3";
@import "calc";

body, html {
  font-family: $red;
/*   height: 100%;
width: 100%; */
}

h1, h2, h3, h4, p {
  margin: 0;
}

.side-nav {
  margin-right: 10%;
}

@media only screen and (min-width: 993px) {
  .brand-logo {
    margin-left: 10%;
  }
}

.lead {
  margin-top: 2rem;
}

/* Navbar background color */
nav {
  background-color: $red;
  height: 64px;
  a {
    font: 300 2em $font-stack;
    margin-top: 0.25em;
  }
  ul {
    li {
      height: 64px;
    }
    li a {
      font: 300 1.5em $font-stack;
      margin-top: 1rem;
    }
  }
}

/* Navbar hover over color */
nav ul li:hover, nav ul li.active {
  background-color: lighten($red, 10%);
}

@each $classname in another-ny, blue-city, brick, houses, map, more-houses, new-york, ny-filtered, tropics, wood {
  .#{$classname}-background {
    background: url(/background/#{$classname}.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 92vh;
    width: 100%;
    position: relative;
  }
}

.flex-white {
  min-height: 10rem;
  height: auto;
  width: 100%;
  background-color: #fff;
}

.flex-red {
  min-height: 10rem;
  height: auto;
  width: 100%;
  background-color: $red;
  @extend .z-depth-2;
  h2 {
    color: white;
  }
  h3 {
    color: white;
  }
  h4 {
    color: white;
  }
  p {
    color: white;
  }
}

.shadow-inset {
  -webkit-box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.75);
}

// Everything related to the Accounts UI //

.login-button {
  background-color: $red !important;
  border: none !important;
}
#login-dropdown-list {
  left: -100%;
  .login-close-text {
    text-align: center;
  }
}

#login-name-link {
  font-size: 1.5em;
  text-decoration: none !important;
}

#signup-link {
  color: $grey;
}

#login-buttons-password, #login-buttons-do-change-password, #back-to-login-link, #login-buttons-cancel-change-password, #login-buttons-open-change-password, #login-buttons-logout {
  &:hover {
    background-color: $grey;
    border: 1px solid ligthen($grey, 10%);
    color: white;
  }
}

////////////////////////////////////////////


.card {
  position: relative;
  overflow: hidden;
  margin: 0 0 0 0;
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;
  padding: 2rem;
  @extend .z-depth-1;
  h1 {

  }
  h2 {
    color: $red;
  }
  h3 {
    color: $red;
  }
  h4 {
    color: $red;
  }
  h5 {
    color: $red;
  }
  p {
    font-size: 1.3em;
  }
  a {
    color: $red;
  }
}

.white-break {
  height: 0.5rem;
  background-color: white;
}

.red-break-half {
  height: 0.2rem;
  width: 75%;
  margin: auto;
  background-color: $red;
}

.red-break {
  background-color: $red;
  height: 0.5rem;
  width: 100%;
}

.grey-break {
  height: 0.5rem;
  background-color: $grey;
}

.card-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.card-show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.row {
  margin: 0;
}

.btn {
  background-color: $red;
  &:hover {
    background-color: lighten($red, 10%);
  }
  &:focus {
    background-color: $red;
  }
}

.admin-container {
  padding: 0rem 3rem 3rem 3rem;
  h2 {
    padding: 2rem 0rem;
  }
}

.analytics-card {
  margin: 1rem;
  padding: 0;
}

a.collection-item.analytics-property {
  border-top: none;
}

div.analytics-properties {
  height: 200px;
  overflow-y: scroll;
}

.property-image {
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px;
  border: 1px solid $grey;
}

.property-card {
  margin:2rem 0;
  padding: 0;
}

.google-map {
  width: 100%;
  height: 50vh;
  position: relative;
  border: 3px solid #D1122B;
  border-radius: 5px;
}

.single-property-row {
  padding: 3rem 0;
}

.analytics-return-numbers {
  border: 1px solid $grey;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.notifications-card {
  height: 15rem;
  overflow: scroll;
}

// I don't understand where it's inheriting the hover-over properties!
a.collection-item {
  border-top: 1px solid $grey;
  &:first-child {
    border-top: none;
  }
  &:last-child {
    border-bottom: 1px solid $grey;
  }
}

.collection {
  background-color: rgba(255,255,255,0.4);
}

.table-subheader {
  padding: 0;
}

.table-header {
  padding: 0;
  /* padding-left: 5%; */
  &:first-child {
    margin: 0;
    transform: translateY(0.7em);
  }
}

.new-projects-table {
  max-height: 15rem;
  overflow: scroll;
  background-color: rgba(255,255,255,0.4);
}

.admin-property-table {
  margin-top: 2rem;
  font-size: 1.6em;
  td {
    color: $red;
  }
}

.contact-page-logo {
  height: 50%;
  width: 50%;
  display: block;
  margin: 0 auto;
}

.promo-numbers {
  font-size: 4em;
  text-align: center;
  line-height: 1.1;
}

.promo-col {
  margin: 0 2rem;
}

.promo-2-paragraph {
  font-size: 1.2em !important;
  line-height: 1.2;

}

.promo-card-2 {
  padding: 1rem;
  height: 32rem;
  overflow: scroll;
}

.contact-info {
  text-align:center;
  color: $grey !important;
  font-size: 1.5em !important;
  font-weight: bold;
}

.contact-card {
  background-color: rgba(255,255,255,0.85) !important;
}

.about-card {
  margin: 1rem 0;
  padding: 0.5rem !important;
  h4 {
    padding-bottom: 1rem;
  }
  .about-paragraph {
    font-size: 1.1em !important;
  }
}

.collapsible-header {
  overflow: scroll;
}

.termsheet-editable {
  color: $red;
}

ul.tabs li.tab a {
  color: #000;
}
ul.tabs li.tab a:hover {
  color: lighten($red, 10%);
}
ul.tabs .indicator {
  background-color: $red;
}

.admin-button {
  color: white !important;
  width: 80%;
}

.bank-table {
  width: 80%;
  margin: 0 auto;
}

.account-selected {
  background-color: $red;
  border: solid $red;
  font-weight: bold;
}

.custom-hover tr {
  -webkit-transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  -ms-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.custom-hover .account-info:hover {
    background-color: $red;
}

.custom-hover .transactions:hover {
    background-color: #f2f2f2;
}

.account-border {
  background-color: #d3d3d3;
  border-bottom: solid #e6e6e6;
  border-left: solid #e6e6e6;
  border-right: solid #e6e6e6;
}

.transactions {
  background-color: #fafafa;
  border-left: solid #e6e6e6;
  border-right: solid #e6e6e6;
}

.transaction-hide {
  display: none;
}

.transaction-header {
  background-color: #e6e6e6;
  font-weight: bold;
  font-size: 12px;
  border-top: solid #e6e6e6;
  border-left: solid #e6e6e6;
  border-right: solid #e6e6e6;
}

.positive {
  color: #007f00;
}

.negative {
  color: $red;
}

.fa-times {
  color: #333;
  &:hover {
    color: $red;
  }
}

ul.table-of-contents.fixed {
  position: fixed;
}

ul.table-of-contents li {
  padding: 2px 0;
}

ul.table-of-contents a {
  display: inline-block;
  font-weight: 300;
  color: #757575;
  padding-left: 20px;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.4;
  display: inline-block;
}

ul.table-of-contents a:hover {
  color: #a8a8a8;
  padding-left: 19px;
  border-left: 1px solid #ea4a4f;
}

ul.table-of-contents a.active {
  font-weight: 500;
  padding-left: 18px;
  border-left: 2px solid #ea4a4f;
}

ul.table-of-contents h6{
  color: $red;
}

.note-left {
  float: left;
  padding-right: 2rem;
}


.client-link {
  color: $red;
}

.red-link {
  color: $red;
}

.all-properties-row {
  td {
    padding: 0;
  }
  padding: 0;
}

.td-date {
  width: 20%;
}

.td-note {
  width: 70%;
}

.td-archive {
  width: 10%;
}
