@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
$font-stack: 'Open Sans', sans-serif;

$red: #D1122B;
$grey: #797979;

body {
  font-family: $font-stack;
}

.side-nav {
  margin-right: 10%;
}

@media only screen and (min-width: 993px) {
  .brand-logo {
    margin-left: 10%;
  }
}

.lead {
  margin-top: 2rem;
}

/* Navbar background color */
nav {
  background-color: $red;
  height: 64px;
  a {
    font: 300 2em $font-stack;
    margin-top: 0.25em;
  }
  ul {
    li {
      height: 64px;
    }
    li a {
      font: 300 1.5em $font-stack;
      margin-top: 1rem;
    }
  }
}

/* Navbar hover over color */
nav ul li:hover, nav ul li.active {
  background-color: lighten($red, 10%);
}


/* Radio buttons color */
/* [type="radio"]:checked + label:after {
  border: 2px solid #ea454b;
  background-color: #ea454b;
} */






@mixin background-size() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 92vh;
  width: 100%;
  position: relative;
}

.another-ny-background {
  background: url(/background/another_ny.jpg) no-repeat center center;
  @include background-size();
}

.blue-city-background {
  background: url(/background/blue_city_blur.jpg) no-repeat center center;
  @include background-size();
}

.brick-background {
  background: url(/background/brick.jpg) no-repeat center center;
  @include background-size();
}

.houses-background {
  background: url(/background/houses.jpg) no-repeat center center;
  @include background-size();
}

.map-background {
  background: url(/background/map.jpg) no-repeat center center;
  @include background-size();
}

.more-houses-background {
  background: url(/background/more_houses.jpeg) no-repeat center center;
  @include background-size();
}

.new-york-background {
  background: url(/background/new_york.jpg) no-repeat center center;
  @include background-size();
}

.ny-filtered-background {
  background: url(/background/ny-filtered.jpg) no-repeat center center;
  @include background-size();
}

.tropics-background {
  background: url(/background/tropics.jpg) no-repeat center center;
  @include background-size();
}

.wood-background {
  background: url(/background/wood.jpg) no-repeat center center;
  @include background-size();
}






.flex-white {
  height: auto;
  width: 100%;
  background-color: #fff;
}

/* Colored break line */
/* .red-break {
  height: 0.5rem;
  background-color: \$red;
} */


/* Uncomment if using accounts-ui */
.login-button {
  background-color: white !important;
  border: none !important;
}
#login-dropdown-list {
  left: -100%;
  .login-close-text {
    text-align: center;
  }
}

.shadow-inset {
  -webkit-box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.75);
}

// Everything related to the Accounts UI //

#signup-link {
  color: $grey;
}

#login-buttons-password, #login-buttons-do-change-password, #back-to-login-link, #login-buttons-cancel-change-password, #login-buttons-open-change-password, #login-buttons-logout {
  &:hover {
    background-color: $grey;
    border: 1px solid ligthen($grey, 10%);
    color: white;
  }
}
////////////////////////////////////////////


.card {
  position: relative;
  overflow: hidden;
  margin: 0 0 0 0;
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;
  padding: 2rem;
  @extend .z-depth-1;
  h1 {

  }
  h2 {
    color: $red;
  }
  h3 {
    color: $red;
  }
  h4 {
    color: $red;
  }
  p {
    font-size: 1.1em;
  }
}

.white-break {
  height: 0.5rem;
  background-color: white;
}

.red-break {
  height: 0.5rem;
  background-color: $red;
}

.card-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.card-show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
