<template name="_assetAllocation">
  <div id="analytics-allocation" class="card analytics-card">
    <div class="card-content">
      <h5 class="center-align">Asset Allocation</h5>
      <!-- <div class="row allocation-numbers">
        <div class="col s6">
          <p style="text-decoration:underline;text-align:center;">Percentage</p>
          <p style="text-align:center;">{{percentage}}%</p>
        </div>
        <div class="col s6">
          <p style="text-decoration:underline;text-align:center;">Total</p>
          <p style="text-align:center;">${{total}}</p>
        </div>
      </div> -->
      <div class="analytics-chart" id="analytics-asset-allocation"></div>
    </div>
  </div>
</template>
