<template name="_newProjects">
  <div class="card analytics-card">
    <div class="card-content">
      <h5 class="center-align">New Projects</h5>
      <!-- Unclear why this table insists on being responsive when I don't want it to be... -->
      <table class="hoverable centered">
        <thead>
          <tr>
            <th class="table-header">Property</th>
            <th class="table-header" colspan=2>To Be Raised</th>
            <th class="table-header" colspan=2>Expected ROI</th>
          </tr>
          <tr>
            <th class="table-subheader"></th>
            <th class="table-subheader">Debt</th>
            <th class="table-subheader">Equity</th>
            <th class="table-subheader">Debt</th>
            <th class="table-subheader">Equity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>123 Mexico St</td>
            <td>$25,000</td>
            <td>$50,000</td>
            <td>7%</td>
            <td>13%</td>
          </tr>
          <tr>
            <td>533 Cuba St</td>
            <td>$450,000</td>
            <td>$600,000</td>
            <td>8%</td>
            <td>17%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
