<template name="_newProjects">
  <div class="card analytics-card">
    <div class="card-content">
      <h5 class="center-align">New Projects</h5>
      <!-- Unclear why this table insists on being responsive when I don't want it to be... -->
      <div class="new-projects-table">
        <table class="hoverable centered">
          <thead>
            <tr>
              <th class="table-header">Property</th>
              <th class="table-header" colspan=2>Funds Needed</th>
              <th class="table-header" colspan=2>Expected ROI</th>
            </tr>
            <tr>
              <th class="table-subheader"></th>
              <th class="table-subheader">Debt</th>
              <th class="table-subheader">Equity</th>
              <th class="table-subheader">Debt</th>
              <th class="table-subheader">Equity</th>
            </tr>
          </thead>
          <tbody class="new-projects-body">
            {{#each allPending}}
              <tr>
                <td><a href="{{pathFor 'adminProperty'}}">{{street}}</a></td>
                <td>${{formatMoney needed.debt}}</td>
                <td>${{formatMoney needed.equity}}</td>
                <td>{{formatMoney2 needed.debtROI}}%</td>
                <td>{{formatMoney2 needed.equityROI}}%</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
