<template name="_notifications">
  <div class="card analytics-card">
    <div class="card-content">
      <h5>Notifications</h5>
      <ul class="collection notifications-card">
        <a href="" class="collection-item">Notification number one<span class="new badge">1</span></a>
        <a href="" class="collection-item">Notification number one<span class="new badge">1</span></a>
        <a href="" class="collection-item">Notification number one<span class="new badge">1</span></a>
        <a href="" class="collection-item">Notification number one<span class="new badge">1</span></a>
        <a href="" class="collection-item">Notification number one<span class="new badge">1</span></a>
        <a href="" class="collection-item">Notification number one<span class="new badge">1</span></a>
        <a href="" class="collection-item">Notification number one<span class="new badge">1</span></a>
        <a href="" class="collection-item">Notification number one<span class="new badge">1</span></a>
      </ul>
    </div>
  </div>
</template>
