<template name="_timeline">
  <div class="card analytics-card">
    <div class="card-content">
    <h5 class="center-align">Debt & Equity</h5>
      <div id="_timeline" style="height: 25rem;"></div>
      <div class="collection center-align analytics-properties">
          <h5><a href="#!" class="collection-item analytics-property">Monthly Details</a></h5>
          <div class="row">
            <div class="col l6 m6 s6 collection left-align">
              <a href="#!" class="collection-item analytics-property"><div class="row date-DE">Date</div></a>
              <a href="#!" class="collection-item analytics-property"><div class="row type-DE">Type</div></a>
              <a href="#!" class="collection-item analytics-property"><div class="row amount-DE">Total</div></a>
            </div>
            <div class="col l6 m6 s6 collection left-align">
              <a href="#!" class="collection-item analytics-property"><div class="row date-DE">{{dataDE.date}}</div></a>
              <a href="#!" class="collection-item analytics-property"><div class="row type-DE">{{dataDE.type}}</div></a>
              <a href="#!" class="collection-item analytics-property"><div class="row amount-DE">$ {{money dataDE.amount}}</div></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>
