<template name="analytics">
  <div class="wood-background">
    <div class="row" style="padding-top:2rem;">
      <div class="col s12 m4">
        {{> _assetAllocation}}
      </div>
      <div class="col s12 m4">
        {{> _analyticsNumbers}}
      </div>
      <div class="col s12 m4">
        {{> _notifications}}
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        {{> _timeline}}
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        {{> _newProjects}}
      </div>
      <div class="col s12 m6">
        <div class="card analytics-card">
          <div class="card-content">
            <p>Unclear what goes here</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="red-break"></div>
</template>
