<template name="analytics">
  {{# if isInvestor}}
  <div class="wood-background">
    <div class="row" id="mid-analytics">
      <div class="col s12 l4 m12">
        {{> _assetAllocation}}
      </div>
      <div class="col s12 l5 m12">
        {{> _newProjects}}
      </div>
      <div class="col s12 l3 m12">
        {{> _notifications}}
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l6">
        <div class="card analytics-card">
          <div class="card-content">
            {{> _timeline}}
          </div>
        </div>
      </div>
      <div class="col s12 m12 l6">
        <div class="card analytics-card">
          <div class="card-content">
            {{> _assetTimeline}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="red-break"></div>
  {{else}}
    {{> notFound}}
  {{/if}}
</template>
