<template name="analytics">
  <div class="wood-background">
    <div class="row" style="padding-top:2rem;">
      <div class="col s12 m4">
        {{> _assetAllocation}}
      </div>
      <div class="col s12 m4">
        {{> _analyticsNumbers}}
      </div>
      <div class="col s12 m4">
        <div class="card analytics-card">
          <div class="card-content">
            D3 thing goes here
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="card analytics-card">
          <div class="card-content">
            timeline
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="red-break"></div>
</template>
