<template name="_promo">
  <div class="white-break"></div>
  <div class="flex-red valign-wrapper">
    <div class="valign">
      <div class="promo-col">
        <p class="promo-numbers">12.4%</p>
        <p style="text-align:center;color:#ccc;">Average investor return</p>
      </div>
    </div>
    <div class="valign">
      <div class="promo-col">
        <p class="promo-numbers">7.8%</p>
        <p style="text-align:center;color:#ccc;">Average lender return</p>
      </div>
    </div>
    <div class="valign">
      <div class="promo-col">
        <p class="promo-numbers">${{investedCapital}}</p>
        <p style="text-align:center;color:#ccc;">Total returns to investors</p>
      </div>
    </div>


    <!-- <div class="row ">
      <div class="col s3 promo-col">
        <div class="valign">
          <p class="promo-numbers">12.4%</p>
          <p style="text-align:center;color:#ccc;">Average investor return</p>
        </div>
      </div>
      <div class="col s3 promo-col">
        <div class="valign">
          <p class="promo-numbers">7.8%</p>
          <p style="text-align:center;color:#ccc;">Average lender return</p>
        </div>
      </div>
      <div class="col s6 promo-col">
        <div class="valign">
          <div>
            <p class="promo-numbers">\${{investedCapital}}</p>
            <p style="text-align:center;color:#ccc;">Total returns to investors</p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="white-break"></div>
</template>
