<template name="home">
	<div class="another-ny-background valign-wrapper">
		<div class="row">
			<div class="col s12 m6 offset-m3">
				<div class="card valign">
					<div class="card-content">
						<h4>Building Passive Income</h4>
						<p>Icarus Investment Group, LLC explores many different ways of building passive income for people, mainly through real estate investment cash flow positive properties that yield better than a 10% cash on cash return to investors.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
