<template name="calculator">
  <div class="brick-background valign-wrapper">
    <div class="card valign">
      <div class="card-content">
        <div class="row" id="calculator-title">
          <h5>Capitalization Rate Calculator</h5>
        </div>
        <div class="row calculator-container">
          <div class="col s12 m4 l4">
            <div class="center-align calculator-cell">
              <h6>Total Investment</h6>
              <div class="row">
                <strong>$</strong>
                <input class="calc-input" id="invest" type="number" value="{{totInvest}}" min="0.00">
              </div>
              <button class="btn waves-effect waves-light" id="invest-button" >Calculate</button>
              <h4></h4>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="center-align calculator-cell">
              <h6>Average Monthly Net Income</h6>
              <div class="row">
                <strong>$</strong>
                <input class="calc-input" id="income" type="number" value="{{monthNet}}" min="0.00">
              </div>
              <button class="btn waves-effect waves-light" id="income-button" >Calculate</button>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="center-align calculator-cell">
              <h6>CAP Rate</h6>
              <div class="row">
                <input class="calc-input" id="cap" type="number" value="{{capRate}}" min="0">
                <strong>%</strong>
              </div>
              <button class="btn waves-effect waves-light"  id="capbutton" >Calculate</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="red-break"></div>
</template>
