<template name="_about">
  <div class="new-york-background valign-wrapper">
    <div class="container">
      <div style="height:5rem;"></div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card card-hide card1 about-card valign">
            <div class="card-content">
              <h4 class="center-align">Lender</h4>
              <p class="about-paragraph">Icarus Investment Group gives investors high interest returns when they invest their capital as a lender. We SECURE the investors loan and GUARANTY the investor their return by making them 1st Lien holder on the property they lend money to us, for us to buy. We generally give our investor an interest rate between 6-12% depending on the deal. AVERAGE INVESTMENT RETURN FOR LENDERS: 6-12%</p>
            </div>
          </div>
          <div class="card card-hide card2 about-card valign">
            <div class="card-content">
              <h4 class="center-align">Wholesale Buyer</h4>
              <p class="about-paragraph">Icarus Investment Group is constantly buying properties that are unoccupied and need some work well below market value. Many of these properties were not even officially on the market. We buy the property. We get it fixed up. We get tenants into the property and we re-sell it to our WHOLESALE BUYER. We also manage the property for you at a fee if the buyer wants that. This option gives the investor 100% equity in a cash flow positive property.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card card-hide card3 about-card valign">
            <div class="card-content">
              <h4 class="center-align">Investment Partner</h4>
              <p class="about-paragraph">Icarus Investment Group partners with other companies and individual investors on given deals as large as massive apartment buildings and as small as a single condo. We share equity with the investor in a given unit and the investor gets the percentage of the monthly profit equal to the percent of equity they have on the deal. If Icarus Investment Group chooses to sell the property the investor will also receive their equity percent of the profit generated in the sale.</p>
            </div>
          </div>
          <div class="card card-hide card4 about-card valign">
            <div class="card-content">
              <h4 class="center-align">Deal Finder</h4>
              <p class="about-paragraph">Icarus Investment Group is always looking for great deals. If you want to partner with us in this manner all you need to do is keep your eyes open and when you see a good deal, get in touch with us. We are looking for properties that if we buy outright in cash we would have an annual profit greater than 15% on the money we invested.</p>
            </div>
          </div>
        </div>
      </div>
      <div style="height:5rem;"></div>
    </div>
  </div>
</template>
