<template name="_pushpin">
  <div class="col hide-on-small-only m3 l2">
    <div style="height: 1px">
      <ul class="section table-of-contents pin-top">
        <h6 class="nav-scroller">Navigation</h6>
        <li><a href="#create-account">Create Account</a></li>
        <li><a href="#client-list">Client List</a></li>
        <li><a href="#add-property">Properties</a></li>
        <li><a href="#manage-payments">Manage Payments</a></li>
        <li><a href="#add-project">Add Project</a></li>
        <li><a href="#new-notification">Notifications</a></li>
      </ul>
    </div>
  </div>
</template>