<template name="_createAccount">
  <div class="flex-white scrollspy" id="create-account">
  <div class="red-break full"></div>
    <div class="container admin-container">
      <h2 class="center-align">Create Account</h2>
      <form>
        <div class="row">
          <div class="col s6 m3 input-field">
            <input type="text" id="firstName" class="validate">
            <label for="firstName">First Name</label>
          </div>
          <div class="col s6 m3 input-field">
            <input type="text" id="lastName" class="validate">
            <label for="lastName">Last Name</label>
          </div>
          <div class="col s12 m6 input-field">
            <input type="text" id="username" class="validate">
            <label for="username">Client Username</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 input-field">
            <input type="text" id="email" class="validate">
            <label for="email">Client Email</label>
          </div>
          <div class="col s12 m6 input-field">
            <input type="text" id="telephone" class="validate">
            <label for="telephone">Telephone</label>
          </div>
        </div>
        <div class="row">
          <div class="col offset-m9">
            <button class="btn waves-effect waves-light">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
