<template name="_newInvestorNotification">
  <div class="flex-white admin-container">
    <div class="container">
      <h2 class="center-align">New Investor Notification</h2>
      <form>
        <div class="row">
          <div class="input-field col s12 m6">
            <select class="browser-default">
              <option value="" disabled selected>Add an Investor</option>
            </select>
          </div>
          <div class="col s12 m6">
            <ul>
              <li>(X) Investor name</li>
              <li>(X) Investor name</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col s12 input-field">
            <textarea name="" id="" cols="30" rows="10" class="materialize-textarea"></textarea>
            <label>Notification Text</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light">Submit</button>
      </form>
    </div>
  </div>
  <div class="red-break full"></div>
</template>
