<template name="_viewAccounts">
  <div class="flex-white scrollspy" id="client-list">
    <div class="container admin-container">
      <h2 class="center-align">
        Client List
      </h2>

        <table class="hoverable">
          <thead>
            <tr>
              <th>Contact Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Phone</th>      
            </tr>
          </thead>    
          <tbody>          
            {{#each allAccounts}} 
              <tr>
                <td>{{profile.first}} {{profile.last}}</td>
                <td>{{username}}</td>
                <td>{{profile.email}}</td>
                <td>{{filterPhone profile.telephone}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
    </div>
  </div>
  <div class="red-break"></div>
</template>
