<template name="layout">
	{{> navbar}}
		{{> yield}}
	{{> footer}}
</template>

<head>
	<title>Icarus Investment Group</title>
	<meta name="description" content="Icarus Investment Group is a property acquisition and management company with a focus on a buy-and-hold strategy.">
	<meta name="keywords" content="property, management, passive, income, chicago, investment, real, estate">
	<link rel="icon" type="image/png" href="/favicon.png">
</head>


<template name="footer">
	<div style="height:3rem;background-color:white;">
		<p style="margin:0;margin-right:5%;margin-top:1rem;color:#797979;" class="right-align">© Icarus Investment Group LLC, 2015. All rights reserved.</p>
	</div>
</template>
