<template name="_addNewProject">
  <div class="flex-white admin-container">
    <div class="container">
      <h2 class="center-align">Add Potential Project</h2>
      <form>
        <div class="row">
          <div class="input-field col s12 m4">
            <label for="zpid">Zillow ID</label>
            <input type="text" id="zpid" class="validate">
          </div>
          <div class="input-field col s12 m4">
            <label for="address">Address (optional)</label>
            <input type="text" id="address">
          </div>
          <div class="input-field col s12 m4">
            <label for=""></label>
            <input type="text">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m3">
            <label for="">Debt Needed</label>
            <input type="text">
          </div>
          <div class="input-field col s6 m3">
            <label for="">Equity Needed</label>
            <input type="text">
          </div>
          <div class="input-field col s6 m3">
            <label for="">Debt ROI</label>
            <input type="text">
          </div>
          <div class="input-field col s6 m3">
            <label for="">Equity ROI</label>
            <input type="text">
          </div>
        </div>
        <button class="btn waves-effect waves-light">Submit</button>
      </form>
    </div>
  </div>
  <div class="red-break"></div>
</template>
