<template name="_createAccount">
  <div class="red-break"></div>
  <div class="flex-white">
    <div class="container">
      <form>
        <div class="row">
          <div class="col s3 input-field">
            <input type="text" id="firstName" class="validate">
            <label for="firstName">Client First Name</label>
          </div>
          <div class="col s3 input-field">
            <input type="text" id="lastName" class="validate">
            <label for="lastName">Client Last Name</label>
          </div>
          <div class="col s6 input-field">
            <input type="text" id="username" class="validate">
            <label for="username">Client Username</label>
          </div>
        </div>
        <div class="row">
          <div class="col s6 input-field">
            <input type="text" id="email" class="validate">
            <label for="email">Client Email</label>
          </div>
          <div class="col s6 input-field">
            <input type="text" id="telephone" class="validate">
            <label for="telephone">Telephone</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button class="btn waves-effect waves-light right-align">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="red-break"></div>
</template>
