<template name="_adminPropertyCard">
  <div class="tropics-background valign-wrapper">
    <div class="container">
      <div class="row single-property-row">
        <div class="col s12">
          <div class="card valign">
            <div class="card-content">
              <h3 class="center-align" style="margin-bottom:2rem;">{{street}}</h3>
              <div id="map-canvas" class="google-map"></div>
              <table class="hoverable centered admin-property-table">
                <thead>
                  <tr>
                    <th class="table-subheader">Debt to Raise</th>
                    <th class="table-subheader">Equity to Raise</th>
                    <th class="table-subheader">Debt ROI</th>
                    <th class="table-subheader">Equity ROI</th>
                  </tr>
                </thead>
                <tbody class="new-projects-body">
                  <tr>
                    {{#if editingDebtRaise}}
                      <td>
                        <input type="text" class="validate" id="debt-needed-input">
                      </td>
                    {{else}}
                      <td id="debt-needed"><a href="">${{formatMoney needed.debt}}</a></td>
                    {{/if}}

                    {{#if editingEquityRaise}}
                      <td>
                        <input type="text" class="validate" id="equity-needed-input">
                      </td>
                    {{else}}
                      <td id="equity-needed"><a href="">${{formatMoney needed.equity}}</a></td>
                    {{/if}}

                    {{#if editingDebtROI}}
                      <td>
                        <input type="text" class="validate" id="debt-roi-input">
                      </td>
                    {{else}}
                      <td id="debt-roi"><a href="">{{formatMoney2 needed.debtROI}}%</a></td>
                    {{/if}}

                    {{#if editingEquityROI}}
                      <td>
                        <input type="text" class="validate" id="equity-roi-input">
                      </td>
                    {{else}}
                      <td id="equity-roi"><a href="">{{formatMoney2 needed.equityROI}}%</a></td>
                    {{/if}}
                  </tr>
                </tbody>
              </table>
              {{> _adminPropertyCardDropdowns}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<template name="_adminPropertyCardDropdowns">
  <div class="row" style="margin: 2rem 0;">
    <div class="input-field col s12 m6">
      <select id="investor-change" class="browser-default">
        <option id="investor-default" value="" disabled selected>Add an Investor</option>
      {{#each allAccounts}}
        <option value="{{username}}">{{username}}</option>
      {{/each}}
      </select>
    </div>
    <div class=" input-field col s12 m6">
      <select class="browser-default" id="change-status">
        <option value="" disabled selected>Change Status</option>
        <option value="pending">Pending</option>
        <option value="complete">Complete</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <ul>
        {{#each ownersList}}
        <li><a href=""><i class="fa fa-times"></i></a> {{this.username}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="col s12 m6">
      <div class="right-align">
        <button class="btn waves-effect waves-light">Submit</button>
      </div>
    </div>
  </div>
</template>
