<template name="_property">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s12">
                <h4 class="center-align">123 Property Address</h4>
                <div style="height:1rem;"></div>
              </div>
              <div class="col s12 m4">
                <img src="/background/tropics.jpg" alt="" class="property-image">
              </div>
              <div class="col s12 m8">
                <table class="responsive-table">
                  <thead>
                    <tr>
                      <th>Property Detail</th>
                      <th>Table Item</th>
                      <th>Mas Items</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>Info</td>
                      <td>Info</td>
                      <td>Info</td>
                    </tr>
                    <tr>
                      <td>More Info</td>
                      <td>More Info</td>
                      <td>More Info</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
