<template name="_adminTermSheet">
  {{#if isAdmin}}
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h2 class="center-align">Term Sheet</h2>
        </div>
        <div class="col s12">
          <ul class="tabs">
            {{#each owners}}
              <li class="tab"><a href="#{{_id}}">{{owner.username}}</a></li>
            {{/each}}
          </ul>
          {{#each owners}}
          <div id="{{_id}}">
            <p>APR {{equityPerc}}</p>
          </div>
          {{/each}}
          <!-- <table>
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
          </table> -->
        </div>
      </div>
    </div>
  {{/if}}
</template>
