<template name="_editTermSheet">
  <div class="container">
    <form>
      <div class="row">
        <div class="col s12">
          <h3 class="center-align" style="padding-top:1rem;">Edit Term Sheet</h3>
        </div>
        <div class="col s6 m4">
          <input type="text" placeholder="Purchase Price">
        </div>
        <div class="col s6 m4">
          <input type="text" placeholder="Down Payment Percentage">
        </div>
        <div class="col s6 m4">
          <input type="text" placeholder="Closing and Repair">
        </div>
        <div class="col s6 m4">
          <input type="text" placeholder="APR">
        </div>
        <div class="col s6 m4">
          <input type="text" placeholder="Taxes">
        </div>
        <div class="col s6 m4">
          <input type="text" placeholder="HOA">
        </div>
        <div class="col s6 m4">
          <input type="text" placeholder="Insurance">
        </div>
        <div class="col s6 m4">
          <input type="text" placeholder="Rental Price">
        </div>
        <div class="col s6 m4">
          <input type="text" placeholder="Equity Sold">
        </div>
        <div class="col s6 m4">
          <input type="text" placeholder="Capital Needed">
        </div>
        <div class="col s6 m4">

        </div>
        <div class="col s6 m4">

        </div>
      </div>
    </form>
  </div>
</template>
