<template name="_propertyCard">
  <div class="tropics-background valign-wrapper">
    <div class="container">
      <div class="row single-property-row">
        <div class="col s12">
          <div class="card valign">
            <div class="card-content">
              <h3 class="center-align" style="margin-bottom:2rem;">{{street}}</h3>
              <div id="map-canvas" class="google-map"></div>
              <table class="hoverable centered">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Another Title</th>
                    <th>More info</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Information</td>
                    <td>Information</td>
                    <td>Information</td>
                  </tr>
                  <tr>
                    <td>Information</td>
                    <td>Information</td>
                    <td>Information</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
